{% extends 'layout.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>El listo entre los listos</h1>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}