$color: #ecf0f1;
.btn-default {
  background-color: #607D8B!important;
  color: $color!important;
}

.btn-primary {
  background-color: #3498db!important;
  color: $color!important;
}

.btn-warning {
  background-color: #f1c40f!important;
  color: $color!important;
}

.btn-danger {
  background-color: #e74c3c!important;
  color: $color!important;
}

.btn-success {
  background-color: #5cb85c!important;
  color: $color!important;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px; //change this to your desired size
  line-height: normal;
  height: 23em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}