@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@font-face {
  font-family: 'Oyxgen';
  src: url('https://fonts.googleapis.com/css?family=Oxygen') format('truetype');
}

$font-family: 'Oxygen', sans-serif;

* {
  font: 100% $font-family;
}
select {
  width: 10em
}

.col-md-12 h1 {
  text-align: center;

}
.col-md-12 a {
  height: 3em;
  padding: 1%;
}
.wrapper {
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-flow: row wrap;

}
section{
  padding-left: 10%;
  padding-right: 30%;
  padding-bottom: 5%;
}
